html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1C1C;
}

.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
.jcc {
    justify-content: center;
}
.acc {
    align-content: center;
}
.aic {
    align-items: center;
}
.pl5 {
    padding-left: 5px;
}
.pr5 {
    padding-right: 5px;
}
.mb20 {
    margin-bottom: 40px;
}
.m- {
    margin-bottom: -28px;
}
.container{
    margin: 40px;
    background-color: #FBF7EE;
    direction: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Assistant', sans-serif;
}
.boxes {
    padding-top: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
.input-container {
    padding: 40px;
    padding-bottom: 60px;
    background-image: linear-gradient(to right top, #585DFE, #FB3796);
    color: white;
    font-weight: bolder;
}
.input {
    background: transparent;
    color: white;
    border: none;
    font-family: 'Assistant', sans-serif;
    font-size: 50;
    font-weight: bolder;
    text-align: center;
}

input:focus {
    outline: none;
}

::placeholder {
    color: white;
    font-family: 'Assistant', sans-serif;
    font-weight: bolder;
    font-size: 50;
    text-align: center;
}